<h2><%= @game.name %></h2>

<p><strong>Platform:</strong> <%= @game.platform %></p>
<p><strong>ESRB Rating:</strong> <%= @game.esrb_rating %></p>
<p><strong>Genre:</strong> <%= @game.genre %></p>
<p><strong>User Score:</strong> <%= @game.score %>/10</p>
